<div class="wrapper">
 <div class="container">
  <div class="row card-header rounded d-flex justify-content-between align-items-center">
   <div class="col-md status text-center">{{newdata.status}}</div>
   <div class="col text-center" [hidden]="restricted == true" (click)="makepdf()"><button><i class="fa-solid fa-download "></i></button>
   </div>
  </div>
  <div class="col-sm mx-1 p-2 text-center pt-5" [hidden]="restricted == false">
    <i class="fa fa-lock" style="font-size:48px;color:#808080"></i>
  </div>
  <div class="row d-flex justify-content-between align-items-center p-2" id="downloadfile">
    
   <div class="col-sm mx-1 p-2" [hidden]="restricted == true">
    <div class="id-card-holder">
     <div class="id-card"  >
      <div class="header">
       <img loading="lazy" src="assets/LOGO.png">
      </div>
      <div class="photo">
       <img loading="lazy" [src]="newdata.image">
      </div>
      <h2>{{newdata.name}}</h2>
      <h3>{{newdata.course}}</h3>
      <div class="qr-code">
        <qrcode loading="lazy" [qrdata]="text" [width]="50" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
      <p  class="upto">Valid Upto : {{newdata.endDate}}</p>
      <hr>
      <p>ICTAK - Supported by Govt. of India, partnered by Govt. of Kerala and the IT industry<p>
      <p>GF-1 Thejaswini Building, Technopark</p>
      <p>Ph:0471-2700811  | E-mail: info@ictkerala.org</p>
   
     </div>
    </div>
   </div>
 </div>
 </div>
 </div>

