<div class="card mx-5">
  <router-outlet></router-outlet>
  <div class="card-body">
    <div class="text-center">
      <button class="btn btn-outline-dark my-4" (click)="view()">
        <i class="fa-solid fa-plus"></i><small class="px-2">NEW MANAGER</small>
      </button>
    </div>
    <nav class = "navbar">
      <input
        class="form-control"
        type="text"
        name="name"

        [(ngModel)]="data.name"
        (ngModelChange)="search()"

        placeholder="Search">



    </nav>
    <div class="table-responsive">
      <div data-aos="fade-right">
      <table class="table">
        <thead class="thead-light">
          <tr class="align-middle">
            <th (click)="sort('id')"><small class="px-2">NAME</small><i class="fa-solid fa-sort"></i></th>
            <th>CONTACT</th>
            <th>DESIGNATION</th>
            <th>COURSE</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-middle" *ngFor="let i of moderatorData|orderBy: key:reverse|filterBy: data | paginate: {itemsPerPage: 5, currentPage: p};">
            <td>{{ i.name }}</td>
            <td>{{ i.phone }}<br/>{{ i.email }}</td>
            <td>{{ i.designation }}</td>
            <td>{{ i.course }}</td>

            <td>
              <button class="btn btn-outline-danger mx-2" (click)="delete(i._id)">
                <i class="fa-solid fa-trash-can"></i>
              </button>
              <button class="btn btn-outline-warning mx-2" (click)="update(i._id)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="paginate">
      <pagination-controls (pageChange) = "p = $event"></pagination-controls>
    </div>
  </div>
</div>

<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{ display: displayStyle }"
>
<div class="modal-dialog" role="document">
  <div class="modal-content wrapper">
    <div class="modal-header">
      <div class="text-center mt-2 mb-3 name">REGISTRATION</div>
    </div>
    <div class="modal-body">
      <div class="container">
        <form #userreg="ngForm" (ngSubmit)="Register()">
          <div class="col-sm mx-1">
            <div class="form-field d-flex align-items-center">
              <i class="fa-solid fa-user"></i>
              <input
                type="text"
                name="name"
                id="Name"
                placeholder="Name"
                [(ngModel)]="data.name"
                #name="ngModel"
                [class.is-invalid]="name.invalid && name.touched"
                required
              />
              <small
                [class.d-none]="name.valid"
                class="px-3 text-danger"
                >χ</small
              >
              <small
                [class.d-none]="name.invalid"
                class="px-3 text-success"
                >✓</small
              >
            </div>
            <div class="form-field d-flex align-items-center">
              <i class="fa-solid fa-envelope"></i>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                [(ngModel)]="data.email"
                #email="ngModel"
                [class.is-invalid]="
                  email.invalid && email.touched
                "
                required
              />
              <small
                [class.d-none]="email.valid"
                class="px-3 text-danger"
                >χ</small
              >
              <small
                [class.d-none]="email.invalid"
                class="px-3 text-success"
                >✓</small
              >
            </div>
            <div class="form-field d-flex align-items-center">
              <i class="fa-solid fa-phone"></i>
              <input
                type="text"
                name="phone"
                id="phone"
                minlength="10"
                maxlength="10"
                placeholder="Phone Number"
                [(ngModel)]="data.phone"
                #phone="ngModel"
                [class.is-invalid]="
                  phone.invalid && phone.touched
                "
                required
              />
              <small
                [class.d-none]="phone.valid"
                class="px-3 text-danger"
                >χ</small
              >
              <small
                [class.d-none]="phone.invalid"
                class="px-3 text-success"
                >✓</small
              >
            </div>
          </div>
          <div class="col-sm mx-1">
            <div class="form-field d-flex align-items-center">
              <i class="fa-solid fa-book"></i>
              <label for="" [class.d-none]="course.valid"
                >Course</label
              >
              <select
                type="text"
                name="course"
                id="course"
                [(ngModel)]="data.course"
                #course="ngModel"
                [class.is-invalid]="
                  course.invalid && course.touched
                "
                required
              >
                <option
                  *ngFor="let course of courses"
                  [value]="course"
                >
                  {{ course }}
                </option>
              </select>

              <small
                [class.d-none]="course.valid"
                class="px-3 text-danger"
                >χ</small
              >
              <small
                [class.d-none]="course.invalid"
                class="px-3 text-success"
                >✓</small
              >
            </div>
            <div class="form-field d-flex align-items-center">
              <i class="fa-solid fa-user-tie"></i>
              <label for="" [class.d-none]="designation.valid"
                >Designation</label
              >
              <select
                type="text"
                name="designation"
                id="designation"
                [(ngModel)]="data.designation"
                #designation="ngModel"
                [class.is-invalid]="
                  designation.invalid && designation.touched
                "
                required
              >
                <option
                  *ngFor="let designation of designations"
                  [value]="designation"
                >
                  {{ designation }}
                </option>
              </select>

              <small
                [class.d-none]="designation.valid"
                class="px-3 text-danger"
                >χ</small
              >
              <small
                [class.d-none]="designation.invalid"
                class="px-3 text-success"
                >✓</small
              >
            </div>
          </div>
          <button
            class="btn mt-3 mb-1"
            [disabled]="userreg.form.invalid"
          >
            SAVE
          </button>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="closeview()">
        <i class="fas fa-window-close"></i>
      </button>
    </div>
  </div>
</div>
</div>
