<div data-aos="fade-left"
     data-aos-anchor="#example-anchor"
     data-aos-offset="500"
     data-aos-duration="500">

<div class="col w-75 wrapper">
  <div class="text-center mt-2 mb-3 name">REGISTRATION</div>
  <div class="container">
    <form #userreg="ngForm" (ngSubmit)="Register()">
      <div class="row d-flex justify-content-between">
        <div class="col-sm mx-1">
          <div class="form-field d-flex align-items-center">
            <i class="fa-solid fa-user"></i>
            <input
              type="text"
              name="name"
              id="Name"
              placeholder="Name"
              [(ngModel)]="data.name"
              #name="ngModel"
              [class.is-invalid]="name.invalid && name.touched"
              required
            />
            <small [class.d-none]="name.valid" class="px-3 text-danger"
              >χ</small
            >
            <small [class.d-none]="name.invalid" class="px-3 text-success"
              >✓</small
            >
          </div>
          <div class="form-field d-flex align-items-center">
            <i class="fa-solid fa-envelope"></i>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              [(ngModel)]="data.email"
              #email="ngModel"
              [class.is-invalid]="email.invalid && email.touched"
              required
            />
            <small [class.d-none]="email.valid" class="px-3 text-danger"
              >χ</small
            >
            <small [class.d-none]="email.invalid" class="px-3 text-success"
              >✓</small
            >
          </div>
          <div class="form-field d-flex align-items-center">
            <i class="fa-solid fa-phone"></i>
            <input
              type="text"
              name="phone"
              id="phone"
              minlength="10"
              maxlength="10"
              placeholder="Phone Number"
              [(ngModel)]="data.phone"
              #phone="ngModel"
              [class.is-invalid]="phone.invalid && phone.touched"
              required
            />
            <small [class.d-none]="phone.valid" class="px-3 text-danger"
              >χ</small
            >
            <small [class.d-none]="phone.invalid" class="px-3 text-success"
              >✓</small
            >
          </div>
          <div class="form-field d-flex align-items-center">
            <i class="fa-solid fa-image"></i>
            <input
              class="form-control form-control-sm"
              type="file"
              name="file"
              id="file"
              accept="image/*"
              [(ngModel)]="url"
              #image="ngModel"
              (change)="selectFile($event)"
              placeholder="Photo"
              required
              ngModel
            />
            <small [class.d-none]="image.valid" class="px-3 text-danger"
              >χ</small
            >
            <small [class.d-none]="image.invalid" class="px-3 text-success"
              >✓</small
            >
          </div>
        </div>
        <div class="col-sm mx-1">
          <div class="form-field d-flex align-items-center">
            <i class="fa-solid fa-book"></i>
            <label for="" [class.d-none]="course.valid">Course</label>
            <select
              type="text"
              name="course"
              id="course"
              [(ngModel)]="data.course"
              #course="ngModel"
              [class.is-invalid]="course.invalid && course.touched"
              required
            >
              <option *ngFor="let course of courses" [value]="course" >
                {{ course }}
              </option>
            </select>

            <small [class.d-none]="course.valid" class="px-3 text-danger"
              >χ</small
            >
            <small [class.d-none]="course.invalid" class="px-3 text-success"
              >✓</small
            >
          </div>
          <div class="form-field d-flex align-items-center">
            <i class="fa-solid fa-user-graduate"></i>
            <label for="" [class.d-none]="batch.valid">Batch</label>
            <select
              type="text"
              name="batch"
              id="batch"
              [(ngModel)]="data.batch"
              #batch="ngModel"
              [class.is-invalid]="batch.invalid && batch.touched"
              required
            >
              <option *ngFor="let batch of batches" [value]="batch">
                {{ batch }}
              </option>
            </select>

            <small [class.d-none]="batch.valid" class="px-3 text-danger"
              >χ</small
            >
            <small [class.d-none]="batch.invalid" class="px-3 text-success"
              >✓</small
            >
          </div>
          <div class="form-field d-flex align-items-center">
            <i class="fa-solid fa-calendar-days"></i>
            <input
              type="text"
              name="sdate"
              id="sdate"
              placeholder="Start Date"
              onfocus="(this.type='date')"
              [(ngModel)]="data.startDate"
              #sdate="ngModel"
              [class.is-invalid]="sdate.invalid && sdate.touched"
              required
            />

            <small [class.d-none]="sdate.valid" class="px-3 text-danger"
              >χ</small
            >
            <small [class.d-none]="sdate.invalid" class="px-3 text-success"
              >✓</small
            >
          </div>
          <div class="form-field d-flex align-items-center">
            <i class="fa-solid fa-calendar-days"></i>
            <input
              type="text"
              name="edate"
              id="edate"
              placeholder="End Date"
              onfocus="(this.type='date')"
              [(ngModel)]="data.endDate"
              #edate="ngModel"
              [class.is-invalid]="edate.invalid && edate.touched"
              required
            />

            <small [class.d-none]="edate.valid" class="px-3 text-danger"
              >χ</small
            >
            <small [class.d-none]="edate.invalid" class="px-3 text-success"
              >✓</small
            >
          </div>
        </div>
      </div>
      <button class="btn mt-3 mb-1" [disabled]="userreg.form.invalid">
        APPLY
      </button>
    </form>
  </div>
</div>
</div>