<div class="card mx-5">
 <router-outlet></router-outlet>
 <div class="card-body">
   <div class="table-responsive">
     <table class="table">
       <thead class="thead-light">
         <tr class="align-middle">
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
         </tr>
       </thead>
       <tbody>
         <tr class="align-middle">
           <td>
             <!-- <img
               [src]=""
               alt="image"
             /> -->
           </td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td>
             <button class="button">
               <i class="fa-solid fa-trash-can"></i>
             </button>
           </td>
           <td>
             <a routerLink="/update" >
             <button class="button">
               <i class="fa-solid fa-pen-to-square"></i>
             </button>
           </a>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
</div>


