.table thead>tr>th,.table tbody>tr>th,.table tfoot>tr>th,.table thead>tr>td,.table tbody>tr>td,.table tfoot>tr>td{border:none;}

th{
 font-weight: 600;
 font-size: 1.1rem;
 letter-spacing: 1.3px;
 padding-left: 10px;
 color: #555;
 text-align: center;
}
td{
 text-align: center;
}
span{
 background-color: #0099CC;
 border-radius: 5px;
 color: white;
}
img{
 width: 60px;
 height: 60px;
 border-radius: 50%;
}
.exceldownload{
 text-align:center;
}
.paginate{
 text-align: end;
}