
<div class="search-div">
    <button mat-raised-button  (click)="onCreate()">
      <mat-icon>add</mat-icon>Create
    </button>
    <!--<mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>-->
  </div>

<div class="mat-elevation-z8">
    <mat-table>
        <ng-container matColumnDef="fullname">
          <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.fullname}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="batch">
            <mat-header-cell *matHeaderCellDef>Batch</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.batch}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="department">
            <mat-header-cell *matHeaderCellDef>Department</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.department}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">Loading data...</mat-footer-cell>
            
          </ng-container>
          
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>