<div class="card mx-5">
 <router-outlet></router-outlet>
 <div class="card-body">
  <div class="container text-center">
    <div data-aos="fade-down-right">
  <button
  style="margin: 50px; padding: 10px"
  type="button"
  class="btn btn-outline-info"
  (click)="openPopup1()"><i class="fa-solid fa-plus"></i><small class="px-2">ADD COURSE / BATCH</small>
  </button>
  </div>
  <div data-aos="fade-down-left">
  <button
  style="margin: 50px; padding: 10px"
  type="button"
  class="btn btn-outline-danger"
  (click)="openPopup2()"><i class="fa-solid fa-trash-can"></i><small class="px-2">DELETE COURSE / BATCH</small>
  </button>
</div>
</div>
  <div
  
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle1}">
  <div class="modal-dialog" role="document">
    <div class="modal-content wrapper">
    <div class="modal-header">
      <div class="text-center mt-2 mb-3 name">ADD</div>
    </div>
    <div class="modal-body">
      
      <form class="p-1 mt-2" #userlogin="ngForm" (ngSubmit)="save()">
        <div class="form-field d-flex align-items-center px-3">
          <i class="fa-solid fa-arrow-pointer"></i>
          <label for="" [class.d-none]="type.valid">Type</label>
          <select  type="text"
          name="type"
          id="type"
          
          [(ngModel)]="data.type"
          #type="ngModel"
          [class.is-invalid]="type.invalid && type.touched"
          required 
          >
        <option *ngFor="let type of Types" [value]="type" >{{type}}</option>
        </select>
        </div>
         <div class="form-field d-flex align-items-center px-3" [class.d-none]="type.invalid" >
          <i class="fa-solid fa-book"></i>
           <input
             type="text"
             name="text"
             id="add"
             placeholder="Enter Name"
             [(ngModel)]="data.add"
             #add="ngModel"
             [class.is-invalid]="add.invalid && add.touched"
             required
           />
         </div>
         <button type="submit" class="btn mt-3 mb-1" [disabled]="userlogin.form.invalid">
           SAVE
         </button>
       </form>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="button"
          (click)="closePopup1()">
          <i class="fas fa-window-close"></i>
      </button>
    </div>
    </div>
  </div>
  </div>
  <div
  
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle2}">
  <div class="modal-dialog" role="document">
    <div class="modal-content wrapper">
    <div class="modal-header">
      <div class="text-center  name">DELETE</div>
    </div>
    <div class="modal-body">
      
      <form class="p-1 mt-2" #userlogin="ngForm" (ngSubmit)="delete()">
        <div class="form-field d-flex align-items-center px-3">
          <i class="fa-solid fa-arrow-pointer"></i>
          <label for="" [class.d-none]="type.valid">Type</label>
          <select  type="text"
          name="type"
          id="type"
          
          [(ngModel)]="data.type"
          (ngModelChange)="valuechange($event)"
          #type="ngModel"
          [class.is-invalid]="type.invalid && type.touched"
          required 
          >
        <option *ngFor="let type of Types" [value]="type" >{{type}}</option>
        </select>
        </div>
         <div class="form-field d-flex align-items-center px-3" [class.d-none]="type.invalid" >
          <i class="fa-solid fa-book"></i>
          <select  type="text"
          name="remove"
          id="remove"
          [(ngModel)]="data.add"
          #remove="ngModel"
          [class.is-invalid]="remove.invalid && remove.touched"
          required 
          >
        <option *ngFor="let i of select" [value]="i" >{{i}}</option>
        </select>
         </div>
         <button type="submit" class="btn mt-3 mb-1" [disabled]="userlogin.form.invalid">
           DELETE
         </button>
       </form>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="button"
          (click)="closePopup2()">
          <i class="fas fa-window-close"></i>
      </button>
    </div>
    </div>
  </div>
  </div>
 </div>
</div>
