/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgb(43, 41, 41);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(36, 35, 35);
}