<div class="card mx-5">
 <router-outlet></router-outlet>
 <div class="card-body">
   <div class="table-responsive">
     <table class="table">
       <thead class="thead-light">
         <tr class="align-middle">
          <th></th>
           <th>Name</th>
           <th>Phone & E-mail</th>
           <th>Course & Batch</th>
           <th>Valid Upto</th>
           <th></th>
           <th></th>
         </tr>
       </thead>
       <tbody>
         <tr class="align-middle">
           <td>
             <img
               [src]=""
               alt="image"
             />
           </td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td>
             <button class="button btn btn-rounded-circle">
              <i class="fa-solid fa-check"></i>
             </button>
           </td>
           <td>
             <a routerLink="/update" >
             <button class="button btn btn-rounded-circle">
              <i class="fa-solid fa-xmark"></i>
             </button>
           </a>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
</div>

