<div class="card mx-5">
 <router-outlet></router-outlet>
 <div class="card-body">
   <div class="table-responsive">
     <table class="table">
       <thead class="thead-light">
         <tr class="align-middle">
          <th></th>
           <th>Name</th>
           <th>Contact</th>
           <th>Course & Batch</th>
           <th>Valid Upto</th>
           <th></th>
           <th></th>
         </tr>
       </thead>
       <tbody>
         <tr class="align-middle" *ngFor="let i of studentData">
           <td>
             <img
               [src]="i.image"
               alt="image"
             />
           </td>
           <td>{{i.name}}</td>
           <td>{{i.phone}}<br>{{i.email}}</td>
           <td>{{i.course}}<br>{{i.batch}}</td>
           <td>{{i.endDate}}</td>
           <td></td>
           <td>
             <button class="button btn btn-rounded-circle btn-outline-success" (click)="accept(i._id)">
              <i class="fa-solid fa-check"></i>
             </button>
           </td>
           <td>
             <button class="button btn btn-rounded-circle btn-outline-danger" (click)="reject(i._id)">
              <i class="fa-solid fa-xmark"></i>
             </button>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
</div>

