<div class="card mx-5">
  <router-outlet></router-outlet>
  <div class="card-body">
    <div class="table-responsive">
      <div data-aos="fade-right">
      <table class="table">
        <thead class="thead-light">
          <tr class="align-middle">
            <th></th>
            <th (click)="sort('id')"><small class="px-2">NAME</small><i class="fa-solid fa-sort"></i></th>
            <th>CONTACT</th>
            <th>BATCH</th>
            <th>APPLIED ON</th>
            <th>VALID UPTO</th>
          </tr>
        </thead>
       
        <tbody>
          <tr class="align-middle" *ngFor="let i of studentData|orderBy: key:reverse| paginate: {itemsPerPage: 5, currentPage: p};">
            <td>
              <img [src]="i.image" alt="image" />
            </td>
            <td>{{ i.name }}</td>
            <td>{{ i.phone }}<br />{{ i.email }}</td>
            <td>{{ i.batch }}</td>
            <td>{{ i.Date }}</td>
            <td>{{ i.endDate }}</td>
            <td>
              <button
                class="button btn btn-rounded-circle btn-outline-success mx-2"
                (click)="accept(i._id)"
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                class="button btn btn-rounded-circle btn-outline-danger mx-2"
                (click)="reject(i._id)"
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    </div>
    <div class="paginate">
      <pagination-controls (pageChange) = "p = $event"></pagination-controls>
    </div>
  </div>
</div>
